<br><br>
<div class="card border-0">
  <div class="container">
    <h2 class="text-center">Add new Transformer Intrusion</h2>
    <br><br>
      <div class="form-row">
        <div class="col">
          <label>Transformer Location</label>
          <input type="number" class="form-control" [(ngModel)]="data.manholeId">
        </div>
        <div class="col">
          <label>Datetime </label>
          <input type="date" class="form-control" [(ngModel)]="data.datetime">
        </div>
      </div>
    <br>
    <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
  </div>
