<br><br>
<div class="card text-center border-0">
  <div class="container">
    <h2 class="text-center">Transformer Locations</h2>
    <br><br>
    <table class="table">
      <thead class="heading">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location Name </th>
          <th scope="col">Description </th>
          <th scope="col">Latitude </th>
          <th scope="col">Longitude </th>
          <th scope="col">More Info </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  item of manHoleDetails">
          <th scope="col">{{item.id}}</th>
          <th scope="col">{{item.name}}</th>
          <th scope="col">{{item.description}}</th>
          <th scope="col">{{item.latitude}}</th>
          <th scope="col">{{item.longitude}}</th>
          <!-- <button class="btn btn-outline-secondary" (click)="onMore(item)"> More Info </button> -->
          <select id="drp" class="browser-default custom-select mb-4" (change)="onMore(item, $event)">
            <option value="" disabled>Choose option</option>
            <option [ngValue]=1> View Intrusions </option>
            <option [ngValue]=2> View Oil Readings </option>
            <option [ngValue]=3> View Statistics </option>
          </select>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-square btn-lg btn-outline-primary float-right" href="add">Add Transformer Location
    </a>
  </div>
