<br><br>
<div class="card text-center border-0">
<div class="container">
  <h2  class="text-center"> {{title}} Oil Level Records</h2>
  <br><br>
    <table class="table">
      <thead class="heading" >
        <tr>
         <th scope="col">#</th>
         <th scope="col">Location</th>
         <th scope="col">Oil Reading (% Full)</th>
         <th scope="col"> Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let  item of oilLevelList">
          <th  scope="col">{{item.id}}</th>
          <th  scope="col">{{item.transformerLocation.name}}</th>
          <th  scope="col">{{item.oilLevel}} &nbsp; %</th>
          <th  scope="col">{{item.date | date : 'short'}}</th>  
        </tr>
      </tbody>
    </table>
</div>
