<br><br>
<div class="row">
  <div class="col-6">
    <h1>
      {{title1}}
    </h1>
    <fusioncharts width="500" height="300" type="Column2D" dataFormat="JSON" [dataSource]="manholeDataSource"></fusioncharts>
    <a class="nav-link " href="/charts-manhole">View Details</a>
  </div>
  <div class="col-6">
    <h1>
      {{title2}}
    </h1>
    <fusioncharts width="500" height="300" type="Column2D" dataFormat="JSON" [dataSource]="overheadCableDataSource"></fusioncharts>
      <a class="nav-link " href="/charts-overhead">View Details</a>
  </div>
</div>

<br><br><br><br><br><br>

<div class="row">
  <div class="col-6">
    <h1>
      {{title3}}
    </h1>
    <fusioncharts width="500" height="300" type="Column2D" dataFormat="JSON" [dataSource]="manholeDataSource"></fusioncharts>
    <a class="nav-link " href="/charts-manhole">View Details</a>
  </div>
</div>