<br><br>
<h1>Hi {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
<br>
<p>You're logged into the CAT System!!</p>
<br>
<h3>All registered users:</h3>

<!-- <table mdbTable>
    <thead>
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} &nbsp;&nbsp;&nbsp;&nbsp;</th> 
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let el of users">
            <th scope="row">{{el.id}}</th>
            <td>{{el.firstname}}</td> 
            <td>{{el.lastname}}</td> 
            <td>{{el.email}}</td> 
        </tr>
    </tbody>
</table> -->

<table class="table">
    <thead class="heading">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name </th>
            <th scope="col">Last Name </th>
            <th scope="col">Username </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let  item of users">
            <th scope="col">{{item.id}}</th>
            <th scope="col">{{item.firstname}}</th>
            <th scope="col">{{item.lastname}}</th>
            <th scope="col">{{item.email}}</th>
        </tr>
    </tbody>
</table>

<br>
<p><a [routerLink]="['/signUp']">Register more users</a></p>