<div class="container">
    <div class="main">
        <img src="..\..\..\assets\images\var_tra2.jpeg" class="main-img">
        <!-- <span class="syst-name"><h1>CAT SYSTEM</h1><br> -->
            <span>
            <h1 class="syst-name text-center"> <strong> Distribution Transformer Oil Monitoring and Vandalism Alarm System </strong></h1><br>
            <!-- <div class="syst-name2 text-center">
               <a href="#" class="nav-link" id="gettingstarted"> HOME </a> 
               <a href="#" class="nav-link" id="aboutus"> ABOUT US </a> 
               <a href="#" class="nav-link" id="contactserviceprovider"> GETTING STARTED </a>
           </div> -->
       </span>
    </div>
 
    <div class="card right">
        <div class="card-body">
            <div class="header-content">
                <strong> REGISTER </strong>
            </div>
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"/>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"/>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" formControlName="email" class="form-control"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                    <a [routerLink]="['/login']" class="btn btn-link">Login</a>
                </div>
            </form>

        </div>
    </div>
</div>